<section class="py-5">

    <div class="container" >
        <h1>About-Us</h1>
        <div class="row">
    <div class="col-md-6 text-center" style="line-height: 1.5;
--bg-opacity: 1;
color:blueviolet;
box-sizing: border-box;
border: 0 solid #e2e8f0;
font-family: Montserrat;
display: flex;
flex-direction: column;
padding-left: 0;
padding-right: 0;
width: 100%;">
      <div class="flex flex-col w-full lg:w-1/2 px-0 lg:px-2">
<div class="relative bg-white rounded p-4 flex flex-col items-start mt-4">
<p class="text-lg font-black text-spruce">Michigan, United States</p>
<p class="text-sm  text-spruce">Michigan State Forest Lands</p>
<div class="bg-fern px-2 py-1 rounded-full mt-2">
<p class="text-white text-bold text-sm uppercase">1,857,067 trees</p>
</div>
<p class="mt-4">
Together with the Michigan Department of Natural Resources, we are working to replant several of Michigan’s state forests on a large scale. These efforts will replant native tree species to return this area to its natural state and improve area watershed health. The pine forests will grow to provide habitat for the endangered Kirtland’s warbler as well as other wildlife.
</p>
</div>
</div>
<div class="flex flex-col w-full lg:w-1/2 px-0 lg:px-2">
<div class="relative bg-white rounded p-4 flex flex-col items-start mt-4">
<p class="text-lg font-black text-spruce">Nepal</p>
<div class="bg-fern px-2 py-1 rounded-full mt-2">
<p class="text-white text-bold text-sm uppercase">850,000 trees</p>
</div>
<p class="mt-4">
Chitwan National Park hosts more than 700 species of wildlife including leopards and the elusive Bengal tiger. Replanting efforts here are focused on improving livelihoods for those who call Nepal home and restoring forests in areas of critical importance. The planting sites are located in upland areas of the mountainous Nawalparasi District, along lowland alluvial plains, and around Chitwan National Park as a means of developing a buffer zone around this national treasure.
</p>
</div>
</div>
    </div>
    <div class="col-md-6">
      <div class="flex flex-col w-full lg:w-1/2 px-0 lg:px-2" style="line-height: 1.5;
--bg-opacity: 1;
color:blueviolet;
box-sizing: border-box;
border: 0 solid #e2e8f0;
font-family: Montserrat;
display: flex;
flex-direction: column;
padding-left: 0;
padding-right: 0;
width: 100%;">
<div class="relative bg-white rounded p-4 flex flex-col items-start mt-4">
<h5><p class="text-lg font-black text-spruce " style="text-align: center;">India</p></h5>
<div class="bg-fern px-2 py-1 rounded-full mt-2">
<p class="text-white text-bold text-sm uppercase">847,989 trees</p>
</div>
<p class="mt-4">
Southern India’s Cauvery River Basin is in crisis. The river has shrunk by an estimated 40% from its historical flows over 70 years. This is resulting in drinking water scarcity. A loss of tree cover has also contributed to poor soil health. Reforesting this river basin and educating farmers about agroforestry practices will help to stabilize the river and improve soil conditions over time.
</p>
</div>
</div>
    </div>
  </div>
    </div>
</section>