<section class="py-2">
    <div class="">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Donation App
                
            </h1>
            <p class="lead">Donate For a Good Cause</p>
            <form action="/charge" method="POST">
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{stripePublishableKey}}"
                data-amount="500"
                data-name="Donation App"
                
                data-description="Donate for a Good Cause"
                data-image="/img/marketplace.png"
                data-locale="auto">
            </script>
            <script>
                // Hide default stripe button
                document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
            </script>
            <!--Add our own button-->
            <button type="submit" class="btn btn-outline-dark text-white btn-lg">Donate $5</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/img/book.png" alt=""class="img-fluid">
        </div>
    </div>
</section>