<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h5 class="display-3 mt-3 pt-5">
        Help to make the world a better place...
      </h5><br><br><p class="lead">Please Donate to plant Trees </p>
      <form action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{stripePublishableKey}}"
          data-amount="10000"
          data-name="Donation"
          data-description="Tree Plantation Movement"
          data-image="/img/marketplace.png"
          data-locale="auto">
        </script>
        <script>
          // Hide default stripe button
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script>
        <button type="submit" class="btn  text-white btn-lg btn-warning">Donate Rs. 100</button>
      </form>
    </div>
    <div class="col-md-6">
      <img src="/img/book.png" alt="" class="img-fluid py-5">
    </div>
  </div>
</section>