<section class="py-5">
    <h2 class="display-3">
        Thank You for the donation...
    </h2>
    <p class="lead">Your Donation will be used for a Very Good Cause </p>
    <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>